<p id="notice"><%= notice %></p>
<%= image_tag(@listing.image, :size=> "200x150") if @listing.image.attached? %>
<h3>
  
  <%= @listing.name %>
</h3>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
